{% extends 'base.html' %}

{% block title %}
    SGE - Fornecedores
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h3 class="display-6">Excluir Fornecedor</h3>

        <div class="card">
            <div class="card-body">
                <p class="card-text">Deseja excluir o fornecedor <strong>{{ supplier.name }}</strong>?</p>
                <form method="post" class="form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir Fornecedor</button>
                </form>
            </div>
        </div>
        <a href="{% url 'supplier-list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
    </div>
{% endblock %}